---
import Layout from "../../layouts/Layout.astro";
import type { Dog } from "../../types";

type Path = {
  params: { id: string };
  props: Pick<
    Dog,
    "name" | "temperament" | "life_span" | "image" | "bred_for" | "weight"
  >;
};

export async function getStaticPaths(): Promise<Path[]> {
  const url = `${import.meta.env.URL_BASE}/v1/breeds?limit=25`;
  const response = await fetch(url, {
    headers: { "x-api-key": import.meta.env.API_KEY },
  });
  const data: Dog[] = await response.json();

  const paths = data.map((breed: Dog) => ({
    params: { id: breed?.id.toString() },
    props: { ...breed },
  }));

  return paths;
}

type Props = Path["props"];

const { id } = Astro.params;

const { bred_for, image, life_span, name, temperament, weight } = Astro.props;
---

<Layout title={`Pet ${id}`}>
  <main class="w-full space-y-6 pt-6 px-6 max-w-3xl mx-auto">
    <!-- goback button daisyui -->
    <a href="/">
      <button class="btn btn-primary btn-outline btn-sm self-start"
        >{"< "}Go back</button
      >
    </a>
    <div
      class="flex flex-col items-center space-y-4 bg-purple-100 p-12 rounded-lg"
    >
      <div class="flex flex-col items-center">
        <img src={image?.url} alt={name} class="w-64 h-64 rounded-full mb-4" />
        <h1 class="text-2xl font-bold">{name}</h1>
        <p class="text-gray-500">{temperament}</p>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Life Span</h2>
        <p class="text-gray-500">{life_span}</p>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Nice for</h2>
        <p class="text-gray-500">{bred_for}</p>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Weight</h2>
        <p class="text-gray-500">{weight?.metric} pounds</p>
      </div>
    </div>
  </main>
</Layout>

<style></style>
